build
/ext/
/src/nostril/config.h

**.DS_Store

requirements.txt
**.DS_Store
**.a

#cmake artifacts
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
ext/secp256k1-0.3.2/CMakeCache.txt
ext/secp256k1-0.3.2/CMakeFiles/
ext/secp256k1-0.3.2/CTestTestfile.cmake
ext/secp256k1-0.3.2/DartConfiguration.tcl
ext/secp256k1-0.3.2/cmake_install.cmake
ext/secp256k1-0.3.2/src/CMakeFiles/
ext/secp256k1-0.3.2/src/CTestTestfile.cmake
ext/secp256k1-0.3.2/src/cmake_install.cmake
ext/secp256k1-0.3.2/src/libsecp256k1-config-version.cmake
ext/secp256k1-0.3.2/src/libsecp256k1-config.cmake
http_client
http_relay
message.json
nostro
nostro.log.txt
response.json
response.txt
server.crt
server.key
src/nostril/CMakeFiles/
src/nostril/Makefile
src/nostril/cmake_install.cmake
src/nostril/configurator
src/nostril/configurator.out.dSYM/
src/nostril/deps/
src/nostril/nostril
vostro
vostro.log.txt
